# Environment variables
.env
.env.real
.env.local
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv

# OS files
.DS_Store
Thumbs.db
*.swp

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project